<p><%= t("portal.mail.greeting") %></p>
<p><%= t("portal.mail.magic_link_intro_html", project: @access.topic.name) %></p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<p><%= t("portal.mail.magic_link_validity") %></p>
<p><%= t("portal.mail.signature_html") %></p>
